#pstDiv {
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    max-width: fit-content;
    padding: 30px;
    text-align: right;
    div {
      width: 600px;
    }
    img {
      width: 600px;
      border-radius: 20px;
    }
  }