$lightBlue: rgb(37, 150, 190);
.border {
}
.body {
  background-color: rgb(59, 187, 138);
}
.profile {
  width: 50;
  height: 50px;
  border-radius: 20px;
  margin-top: 25px;
  align-self: center;
}
#signForm {
  background-color: white;
  max-width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
  padding: 100px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  Button {
    margin: 30px 0;
  }
  Input {
    margin: 10px 0;
  }
  .lnk {
    color: $lightBlue;
    text-decoration: none;
    display: block;
  }
}
#logoutdiv {
  background-color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(231, 228, 228, 0.383) 40%,
      rgb(255, 255, 255) 40%
    ),
    url("./assets/test3.jpg");
  max-width: fit-content;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  float: right;
  margin: 60px 20px;
  margin-right: 200px;
  div {
    width: 250px;
  }
  img {
    @extend .profile;
  }
  p {
    margin: 0;
    padding: 0;
  }
  button {
    margin: 0;
    color: $lightBlue;
    background: none;
    border: none;
  }
}
#sendPostDiv {
  border-radius: 20px;
  max-width: fit-content;
  padding: 30px;
  padding-bottom: 10px;
  float: right;
  margin-top: 60px;

  background: linear-gradient(to top, rgb(235, 249, 253) 38%, white 38%);

  h6 {
    float: right;
    display: inline;
  }
  #butDiv {
    width: 600px;
    height: 40px;
    display: block;
    margin-top: 50px;
    background: none;
  }
  input {
    float: right;
  }
  input[type="text"] {
    border: none;
    direction: rtl;
    margin-right: -200px;
  }

  label {
    float: right;
    input {
      display: none;
    }
  }
  button {
    border: 1px solid;
    border-color: $lightBlue;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
    background: white;
    color: $lightBlue;
    height: 40px;
    width: 70px;
  }
}
#posts{
  position:absolute;
  top: 250px;
  left: 500px;
}
#pstDiv {
  background-color: white;
margin-top: 20px;
  @extend .border;
  border-radius: 20px;
  max-width: fit-content;
  padding: 30px;
  text-align: right;
  div{
    width: 600px;
  }
  img {
    width: 600px;
    border-radius: 20px;
  }
}
#more {
  position: absolute;
  text-align: center;
  float: right;
  left: 1200px;
  top: 270px;
  background: white;
  padding: 50px;
  border-radius: 20px;
  max-width: fit-content;
  padding-bottom: 0;
  padding-right: 20px;
  img {
    @extend .profile;
    float: right;
    margin: 0;
  }
  div {
    margin-top: 50px;
  }
  p,
  h6[id="name"] {
    display: block;
    max-width: fit-content;
    position: relative;
    margin-left:60px;
  }

  button {
    position: relative;
    color: $lightBlue;
    float: left;
    border: 1px solid $lightBlue;
    background: white;
    border-radius: 10px;
    top: -50px;
    left: -30px;
  }
  #x{
    position: relative;
    left: 50px;
    top: -5px;
    border: none;
  }
}
#hashtag{
  position: absolute;
  width: fit-content;
  background: white;
  top: 60px;
  left: 230px;
  padding: 20px;
  border-radius: 20px;
  
  button{
    background: none;
    border: none;
    color: $lightBlue;
    margin-top: -12px;
  }
  p{
    margin: 0;
  }
  .hash{
    margin: 5px 0;
    p{
      margin-right: 10px;
      background:rgb(235, 249, 253);
      border-radius: 5px;
      padding: 3px;
    }
  }
}