$lightBlue :rgb(37, 150, 190);

#signForm {
  max-width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 100px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  Button {
    margin: 30px 0;
  }
  Input {
    margin: 10px 0;
  }
  .lnk {
    color:$lightBlue;
    text-decoration: none;
    display: block;
  }
}
#logoutdiv {
  border: 1px solid rgb(204, 198, 198);
  max-width: fit-content;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  float: right;
  margin: 60px 100px;
  button {
    color: $lightBlue;
    background: none;
    border: none;
  }
}
